html{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body{
	padding: 0 1em 1em 1em;
	position: relative;
	width: 100%;
	height: 100%;
	background: #111;
}

h1{
	font-size: 0.875em;
	text-transform: uppercase;
	text-align: center;
	padding: 0;
	margin: 0em 0 1em 0;
	color: magenta;
}

h2{
	font-size: 1em;
	text-transform: uppercase;
	color: #ccc;
	text-align: center;
	margin: 0;
	padding: 0;
	top: 47%;
	left: 0;
	width: 100%;
	position: absolute;
}

#gifLink{
	width: 100%;
}

#gifLink img{
	width: 100%;
	height: auto;
}

.dubtrack-logo{
	width: 50px;
	margin: 0 auto;
}

.dubtrack-logo img{
	width: 100%;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

.recording, .recording:hover, .recording:active, .recording:focus {
	color: red;
}

#spin {
	width: 330px;
	height: 240px;
}

#record {
	user-select: none;
	-o-user-select:none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	outline: none;
	margin: 0 0 1em 0;
}

canvas {
	margin: 0 auto;
	display: block;
	margin-top: 15px;
}

.group {
	margin-top: 5px;
	margin-bottom: 5px;
}

#imgur{
	text-align: center;
}

#imgur a {
	margin-top: 1em;
	background: magenta;
	font-size: 0.875em;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
	border: 1px solid #333;
}

#image-container{
	text-align: center;
}

#image-container img{
	display: inline-block;
	width: 100%;
	height: auto;
	max-width: 10em;
	margin: 1em auto 0 auto;
}

footer{
	color: #666;
	margin: 0;
	left: 0;
	display: block;
	position: absolute;
	padding: 0 1em;
	text-align: center;
	font-size: 0.75em;
	bottom: 1em;
	width: 100%;
	display: none;
}

.fileinput-button {
  position: relative;
  overflow: hidden;
  margin: 0 0 1em 0;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}