#browser
	position fixed
	z-index 99999
	bottom -100%
	overflow hidden
	max-width 80rem
	width 100%
	height 100%
	left 50%
	padding-top 5rem
	transition bottom 0.3s
	transform translate3d(-50%, 0, 0)
	transform-style preserve-3d
	backface-visibility hidden

	&.display-create-form
		.browser-content
			.browser-content-main
				.sidebar
					.create-playlist
						.create-playlist-display
							display none

						.create-playlist-form
							display block

	&.animate
		bottom 0

	.browser-content
		border-radius 1rem 1rem 0 0
		background rgba(0, 0, 0, 0.7)
		width 100%
		height 100%
		overflow hidden
		position relative

		.browser-content-header
			background $dark-gray
			position absolute
			width 100%
			top 0
			z-index 100

			.close-browser
				display block
				position absolute
				width 3.5rem
				height 3.5rem
				text-align center
				font-size 1.3rem
				padding 1.1rem 0
				cursor pointer
				background $accent-color
				color $background-dark-color

			.form
				padding 0.5rem 6.6rem 0.5rem 4rem

				input
					background $background-primary-color

				.music-type-select
					position absolute
					right 0.5rem
					top 0.5rem
					width 6rem
					background $background-primary-color
					padding: 0 0 0 0.5rem
					z-index 100

					&:hover
						.music-type-dropdown
							display block

					.current-music-type-selection
						width 3.9rem
						text-align center

					span
						display inline-block
						font-size 1.4rem
						cursor pointer
						margin-right 0.2rem
						height 2.1rem
						overflow hidden
						padding-top 0.4rem

						&.icon-arrow-dropdown
							margin-right 0

						i
							font-size 1.4rem

					.music-type-dropdown
						position absolute
						display none
						top 0
						left 0
						width 100%
						margin-top 2.5rem
						background $background-primary-color
						text-align center

						span
							border-top 1px solid $dark-gray
							margin-right 0
							padding: 0.5rem 0
							display block

		.browser-content-main
			position relative
			height 100%
			padding-top 3.5rem
			border-radius 1rem 1rem 0 0

			.sidebar
				background $background-primary-color
				width 15rem
				padding-top 7.5rem
				padding-bottom 2.5rem
				position absolute
				height 100%
				top 0
				left 0
				z-index 99

				.title
					position absolute
					top 0
					left 0
					width 100%
					display block
					font-size 1.5rem
					text-transform uppercase
					padding 0.4rem 1rem
					margin-top 4.5rem
					color $meta-color

				.create-playlist
					position absolute
					bottom 0
					left 0
					width 100%
					padding 0.5rem 1rem
					font-weight bold
					background $dark-gray
					text-align center
					color white
					z-index 999

					.create-playlist-display
						cursor pointer

						span
							color $accent-color
							margin-right 0.5rem
							font-size 0.85rem

					.create-playlist-form
						position relative
						display none
						padding 0

						input
							padding 0.2rem 3rem 0.2rem 0
							border-bottom 1px solid $meta-color

						.icon-createplaylist
							position absolute
							right 0
							top 0.3rem
							background $accent-color
							padding 0.2rem
							cursor pointer

				#playlists-scroll
					height 100%
					overflow hidden
					position relative

					.playlist-style
						li
							cursor pointer
							padding 0.4rem 1rem
							font-weight bold

							&.selected
								background $accent-color
								color $dark-gray

							span
								color $meta-color
								margin-right 0.5rem
								font-size 0.85rem

			.nano
				z-index 98
				position relative
				padding-left 15rem
				height 100%
				position relative

				.loading
					position absolute
					top 0
					left 50%
					text-align center
					padding 0.5rem 1.5rem
					background $accent-color
					color #000
					font-size 0.95rem
					font-weight bold
					text-transform uppercase
					transform translate(-50%, 0)

				.content-videos
					position relative
					width 100%
					height 100%
					overflow hidden
					background $background-dark-color

					.playlist_info
					.queue_info
						position relative
						padding-bottom 2px
						padding-right 10rem
						border-bottom 1px solid $background-primary-color
						clearfix()

						.playlist_type_private
						input
							display none

						.description
							padding 0.9rem 1rem

							.icon-search
								margin-right 0.5rem
								font-size 0.75rem
								color $meta-color

						.right
							position absolute
							right 0
							top 0

							a
								float right
								padding 1.2rem 1rem
								background $background-primary-color
								border-right 1px solid $background-dark-color

								&.text-button
									background none
									padding 0.2rem 1rem
									border 1px solid $background-primary-color
									margin 0.7rem 0.5rem 0.7rem 0

					#results_video_api
						.browserPlaylistItems
							padding-bottom 5rem

						.playlist-item
						.queue-item
						.search-item
						.history-item
							position relative
							display block
							padding 0.5rem 1rem
							cursor pointer
							background $background-dark-color
							border 1px solid $background-dark-color
							border-bottom 1px solid $background-primary-color

							&.selected
								border 1px solid $accent-color

							&:hover
								.actions
									display block

								.timeDisplay
									display none

							.display-error
							.display-success
								display none
								position absolute
								background $accent-color
								top 0
								right 2rem
								padding 0.2rem 0.5rem
								color #000
								font-size 0.75rem
								font-weight bold
								z-index 99

							.display-error
								background $accent-other-color

							figure
								margin 0
								paddin 0
								width 4.5rem
								position absolute
								left 1rem
								top 0.5rem
								padding-bottom 4.7%
								overflow hidden

								img
									position absolute
									top 0
									left 0
									width 100%

							.description
								padding 1rem 8rem 0 5.5rem
								font-size 0.95rem
								font-weight bold

								p
									margin 0

								.preview
								.playedby
								.dubs-display
									font-size 0.8rem
									color $accent-color
									margin-right 0.5rem

								.playedby
								.dubs-display
									cursor default

								h2
									font-size 0.95rem
									line-height 0.9
									margin 0
									padding 0

							.actions
								display none
								position absolute
								right 0
								top 0.5rem
								clearfix()

								a
									display block
									float left
									margin 0.3rem 0.5rem 0 0
									padding 0.5rem 0.8rem
									border 1px solid $background-primary-color

							.timeDisplay
								display block;
								position absolute
								right 1rem
								top 1.5rem
								font-weight bold
								font-size 0.85rem

						.search-item
						.history-item
							.actions
								.set_song_to_top_queue
								.remove_icon
									display none

						.queue-item
							.actions
								.add_to_queue
									display none
