font-face('icomoon', '../fonts/icomoon/icomoon')

[class^="icon-"]
[class*=" icon-"]
	font-family 'icomoon'
	text-align center
	speak none
	font-style normal
	font-weight normal
	font-variant normal
	text-transform none
	line-height 1
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

.icon-arrow-dropdown:before
	content "\e81c"

.icon-message:before
	content "\e819"

.icon-add:before
	content "\e80d"

.icon-delete:before
	content "\e80e"

.icon-edit:before
	content "\e80f"

.icon-ShapeCopy4:before
	content "\e810"

.icon-createplaylist:before
	content "\e811"

.icon-editplaylist:before
	content "\e812"

.icon-shuffle:before
	content "\e813"

.icon-trash:before
	content "\e814"

.icon-history:before
	content "\e815"

.icon-clear .path1:before
	content "\e816"
	color rgb(255, 255, 255)

.icon-clear .path2:before
	content "\e817"
	margin-left -1em
	color rgb(43, 43, 43)

.icon-playlist:before
	content "\e80c"

.icon-chevron:before
	content "\e800"

.icon-upvote:before
	content "\e801"

.icon-downvote:before
	content "\e802"

.icon-heart:before
	content "\e803"
	color #B3E790

.icon-chat:before
	content "\e804"

.icon-chatsettings:before
	content "\e805"

.icon-people:before
	content "\e806"

.icon-mute:before
	content "\e807"

.icon-reload:before
	content "\e808"

.icon-play:before
	content "\e809"

.icon-facebook:before
	content "\e80a"

.icon-twitter:before
	content "\e80b"

.icon-search:before
	content "\e818"

.icon-youtube:before
	content "\e81a"

.icon-soundcloud:before
	content "\e81b"

.icon-lock:before
	content "\e900"

.icon-unlocked:before
	content "\e901"

.icon-angle-double-up:before
	content "\e902"

.icon-close:before
	content "\e903"

.icon-pause:before
	content "\e904"

.icon-camera:before
	content "\e905"

.icon-volume-high:before
	content "\e906"

.icon-volume-mute:before
	content "\e907"

.icon-skip:before
	content "\e908"
