#room-info-display
	.room-info-display-wrapper
		height 100%
		width 100%
		position absolute
		top 0
		left 0
		overflow scroll
		padding 0 1rem 0 0

		h2
			word-break break-word
			font-size 1.8rem
			margin 2rem 0 3rem 0
			font-weight bold
			text-align center

			span
				display block
				color $meta-color
				font-size 1.1rem

				i
					color $accent-color

		.description
			word-break break-word
			padding-bottom 2rem
