#notifications_list {
    & .dubs {
    }
    & li {
    }
    & .info_rel{
	    position: absolute;
	    right: 5px;
	    bottom: 5px;
	    z-index: 20;
	    & img{
		    width: 30px;
	    }
	    &.wall{
		    bottom: 30px;
	    }
    }
}

#notifications_button {
    display:none;
    position:absolute;
    z-index:99;
    top:0;
    padding:10px 25px;
    right:40px;
    background:url(../images/bg-dark-trans.png) repeat;
    & a {
        color:#999;
        & span {
            color:cyan;
        }
    }
}