#user_popover{
	position: fixed;
	z-index: 9999999;
	background: $bgOtherColor;
	border: 1px solid $bgAccentColor;
	display: none;
	min-width: 19em;

	.usercontent{
		cursor: pointer;
		@include clearfix2();
		padding: 1em;

		header{
			float: left;
			margin: 0 0 0 1em;

			h3{
				margin: 0;
			}

			a{
				color: #666;
				margin: 0.5em 0 0 0;
				display: block;
			}
		}

		figure{
			width: 3em;
			@include border-radius(50%);
			overflow: hidden;
			float: left;

			img{
				width: 100%;
			}
		}
	}

	.global-actions{
		clear: both;
		@include clearfix2();
		margin: 0.5em 0 0 0;

		a{
			outline: 1px solid $bgOtherColor;
			display: block;
			text-align: center;
			font-weight: bolder;
			background: $bgAccentColor;
			padding: 0.5em 0;
			float: left;
			width: 50%;
			color: #000;
		}
	}

	.actions{
		clear: both;
		@include clearfix2();

		a{
			display: block;
			text-align: center;
			color: $bgAccentColor;
			outline: 1px solid $bgAccentColor;
			padding: 0.5em 0;
			font-weight: bold;
		}
	}
}
