.dub_list{
	min-height:200px;
	& b{
		font-weight:bold;
	}
	& a{
		&.go_back_btn{
			color:#fff; 
			display:block; 
			margin:0 0 10px 0;
		}
	}
	& li{
		position:relative; 
		clear:both; 
		font-family: $siteFont !important; 
		font-size: 0.75em !important; 
		color:#000; 
		margin:0 0 5px 0; 
		text-align:left !important;
		&:hover{
			background:none !important;
		}
		& li{
			& .message{ 
				max-width: 370px;
			}
			& .comment_content textarea{
				width: 345px;
			} 
		}
		&.cursor{
			cursor:pointer;
		}
		&.handle{
			cursor:pointer;
		}
		&.loadMoreComments{
			background: #ff00ff; 
			color: #000; 
			padding: 6px 0; 
			text-align: center !important; 
			cursor: pointer; 
			margin: 0 0 10px 0;
			@include transition-property(all);
  			@include transition-duration(0.1s);
  			@include transition-timing-function(ease-in);
		}
		& .image{
			width: 50px; 
			height: 50px; 
			overflow: hidden; 
			display: inline-block;
			margin-right:20px; 
			vertical-align:top;
			& img{
				width: 50px; 
				vertical-align:middle; 
				margin:0 0 0 0;
			}
		}
		& .notificationsPlayer{
			position: relative;
			width: 500px;
			height: 300px;
			margin: 10px 25px 0 25px;
			overflow: hidden;
			& .playerImage{
				width: 500px;
				height: 300px;
			}
		}
		& div.replyLogin{
			color: magenta;
			text-transform: uppercase;
			text-align: center;
			padding: 6px 0;
			margin: 10px 0 0 0;
			& a{
				position: relative;
				padding-left: 20px;
				display: inline-block;
				margin: 0 15px;
				&:before{
					position: absolute;
					content: "";
					left: 0; 
					top: -2px;
					background: url(../images/loginDubtrack.png) no-repeat;
					height: 17px;
					width: 16px;
					overflow: hidden;
				}
				&.facebook:before{
					background-position: -16px 0;
				}
			}
		}
		& .message{
			display:inline-block; 
			vertical-align:top; 
			margin-left:15px;
			max-width:380px;
		}
		& .reply_a{
			bottom:5px; 
			right:5px; 
			position:absolute;
			& a{
				color:cyan;
			}
		}
		& .links{
			position:absolute;
			top:5px; 
			right:5px;
			font-size:12px;
			& a{
				color:#0085ea;
			}
		}
		& .comment_content{
			background:#e5e5e5; 
			position:relative; 
			display:inline-block; 
			vertical-align:top; 
			padding:5px;
			width:515px;
			& textarea{
				width:420px; 
				height:20px;
				border:1px #ccc solid;
				font-family: $siteFont !important; 
				font-size: 0.75em !important;
			}
			& button{
				float: right;
			}
			& a{
				&.submit{
					color:white; 
					vertical-align:top; 
					border:1px solid #bfbfbf; 
					padding:3px 7px; 
					display:inline-block; 
					width:auto; 
					margin:0px 0px 0px 10px; 
					font-family: $siteAccentFont;
					font-size: 0.85em;
					background:#808080;
					@include border-radius(0);
				}
			}
		}
		& .bg_comment{
			background:url(../images/bg_comment.png) no-repeat; 
			width:26px; 
			height:24px; 
			position:absolute; 
			margin:0 0 0 -26px;
		}
		& .yt_img{
			float:left; 
			margin:0 10px 0 0;
			& img{
				width:60px;
			}
		}
		& .dubs{
		}
	}
}
