// Begin Site Variables
$bgColor: #000;
$bgOtherColor: #111;
$bgAccentColor: magenta;
$bgOtherAccentColor: cyan;

$desktopMaxWidth: 62.5rem;

$siteColor: #CCCCCC;
$siteAccentColor: #333;

$siteOtherAccentColor: #20252a;
$siteFontColor: #5a5b5c;
$siteMetaContent: #cacaca;
$siteActiveContent: #20252b;
$siteTitleColor: #797979;
$siteSubTitleColor: #1f242a;

$standardBorder: 1px #202020 solid;
$accentBorder: 1px solid #c8c8c8;

//fonts
$fontDir: '/assets/fonts/';

$fontStack: Arial, Helvetica, sans-serif;
$siteFont: "proxima-nova", sans-serif;
$siteAccentFont: "futura-pt", sans-serif;
$siteTitleFont: "bebas-neue" , Arial, Helvetica, sans-serif;
// End Site Variables

//Begin Preview Header Variables
$previewHeaderBg: darken(#4F4F4F, 10%);
//End Preview Header Variables

// Begin Widgets Variables
$widgetBackgroundColor: white;
// End Widgets Variables

// Begin Global Nav Variables
$navBackgroundColor: #161920;
$navBackgroundHighlightColor: #20252b;
$navLinkColor: #8e9399;
$navAccentLinkColor: #8e9399;
$navAccentTitleColor: #fff;
$navMobileWidth: 15em;
$navMenuMinHeight: 15em;
// End Global Nav Variables

// Begin Article Variables
$articleColorTitle: rgb(31,36,42);

$articleColor: rgb(121,121,121);
// End Article Variables

//Begin Ad Variables
$headlinerBg: #161616;
//End Ad Variables

/* Begin Site Icons */
$icon-normal: sprite-map("icons/normal/*.png");
$icon-retina: sprite-map("icons/retina/*.png");
/* End Site Icons */