/* HEADER ===================================================== */

#header-global h1 span {
	display: block;
	background-repeat: no-repeat;
	background-image: url('http://images.dubtrack.fm/hhberclba/image/upload/c_lpad,h_35,w_35/v1400351432/dubtrack_new_logo_fvpxa6.png');
	background-position: 0 0;
	height: 35px;
	width: 35px;
	overflow: hidden;
	text-indent: -999em;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
	#header-global h1 span {
		background-image: url('http://images.dubtrack.fm/hhberclba/image/upload/c_lpad,h_100,w_100/v1400351432/dubtrack_new_logo_fvpxa6.png');
		background-position: 0 0;
		height: 35px;
		width: 35px;
		-webkit-background-size: 35px auto;
		-moz-background-size: 35px auto;
		-o-background-size: 35px auto;
		background-size: 35px auto;
	}
}

#header-global{
	position: fixed;
	top: 0;
	width: 100%;
	background: #111;
	text-align: left;
	text-transform: uppercase;
	z-index: 1001;
	height: 3em;
	//@include box-shadow(0 0 0.5em 0.063em rgba(0,0,0,0.7));
	@include clearfix2();

	h1{
		background: #111;
		position: absolute;
		top: -0.2em;
		left: 50%;
		margin: 0 0 0 -34px;
		padding: 0.6em;
		@include border-radius(50%);

		span{
			display: block;
			//@include retina-sprite-background(main-logo);
			overflow: hidden;
			text-indent: -999em;
			margin: 0 0 0 0.1em;
		}
	}

	button{
		height: 2em;
	}

	.main-menu{
		list-style: none;
		margin: 0;
		padding: 0;
		float: left;
		@include clearfix2();

		li{
			margin: 0.5em;
			position: relative;
			float: left;

			i{
				position: absolute;
				top: 0.4em;
				left: 0.5em;
			}

			input{
				background: $siteAccentColor;
				color: $siteColor;
				width: 20em;
				margin: 0.2em 0 0 0;
				padding: 0.5em 0.5em 0.5em 3em;
				min-height: 1.5em;
				border: 0;
				outline: 0;
				@include border-radius(0.1875em);
			}

			.room-user{
				@include clearfix2();

				span{
					display: block;
					float: left;
				}

				.edit-room,
				.create-room{
					margin: 0.15em 0.7em 0 0;
					font-size: 0.75em;
					display: none;

					@include respond-to(bp550){
						display: block;
					}
				}
			}

			#edit-room-div{
				display: none;
			}

			&.menu-expand{
				&.active{
					menu{
						display: block;
					}
				}

				menu{
					background: none;
					position: absolute;
					top: -2em;
					left: -0.5em;
					width: 10em;
					padding: 3.5em 1em 1.5em 0;
					display: none;

					.mainbg{
						background: $bgOtherColor;
						padding: 0 0 0.5em 0;

						> a,
						> span{
							margin: 0;
							display: block;
							text-align: left;
							padding: 0.7em 1em;
							font-size: 0.74em;
							color: $siteColor;

							span{
								color: $siteColor;
								@include opacity(0.7);
							}

							&:hover span{
								@include opacity(1);
							}
						}

						a{
							border-bottom: $standardBorder;
						}

						span{
							color: $siteAccentColor;
						}
					}
				}
			}
		}
	}

	.user-info{
		float: right;

		.user-header-menu{
			list-style: none;
			margin-right: 0.5em;
			@include clearfix2();

			li{
				margin: 0.5em 0;
				float: left;

				button{
					@include border-radius(0);
					border-right: 1px solid #111;
				}

				span{
					font-size: 0.75em;
				}

				&.user-messages{
					position: relative;

					span.message-counter{
						display: block;
						font-size: 0.75em;
						line-height: 0.85em;
						color: $bgColor;
						font-weight: bold;
						right: 0;
						top: 0;
						position: absolute;
						background: $bgAccentColor;
						padding: 0.3em;
						display: none;
					}
				}

				&.logout{
					display: none;

					@include respond-to(bp800){
						display: block;
					}
				}

				.user-messages-button{
					@include border-top-left-radius(0.1875em);
					@include border-bottom-left-radius(0.1875em);
				}

				.user-info-button{
					position: relative;
					padding: 0;

					@include respond-to(bp600){
						padding-right: 2.5em;
						padding-left: 1em;
					}

					figure{
						width: 2em;
						height: 100%;
						overflow: hidden;
						top: 0;
						right: 0;

						img{
							height: 100%;
						}

						@include respond-to(bp600){
							position: absolute;
						}
					}

					span{
						display: none;

						@include respond-to(bp600){
							display: inline;
						}
					}
				}

				.friends{
					@include border-top-right-radius(0.1875em);
					@include border-bottom-right-radius(0.1875em);
				}
			}
		}
	}

	.global-search-header{
		display: none;

		@include respond-to(bp1050){
			display: block;
		}

		.search-results{
			width: 100%;
			top: 2.5em;
			left: 0;
			position: absolute;
			color: $siteColor;
			background: $bgOtherColor;
			@include border-bottom-right-radius(0.1875em);
			@include border-bottom-left-radius(0.1875em);
			display: none;

			h3{
				padding: 0.2em 0.5em;
				margin: 0;
				font-size: 0.75em;
				text-transform: uppercase;
			}

			.search-results-rooms,
			.search-results-users{
				padding: 0.2em 0.5em;
				background: $bgColor;

				.result-item{
					cursor: pointer;
					border-bottom: $standardBorder;
					@include clearfix2();
					padding: 0.2em 0;

					&:last-child{
						border-bottom: 0;
					}

					img{
						float: left;
						width: 3em;
						margin-right: 0.5em;
					}

					span{
						display: block;
						font-size: 0.75em;
						line-height: 1.5em;
						max-width: 14em;
						overflow: hidden;
						word-break: break-all;

						&.count{
							color: $siteAccentColor;
							font-size: 0.5em;
							font-style: italic;
						}
					}
				}
			}
		}
	}

	/*& a{
		color: $bgOtherAccentColor;
		float: left;
		padding: 1em;
		display: block;
		border-right: $standardBorder;
		position: relative;
		font-size: 0.75em;

		&:hover{
			background: $bgAccentColor;
			color: $bgColor;
		}

		&.roomTabInfo{
			padding-right: 1.875em;

			& span.roomCount{
				background: $bgAccentColor;
				padding: 0.313em;
				display: block;
				content: "";
				font-size: 0.688em;
				color: white;
				position: absolute;
				width: 1.250em;
				text-align: center;
				z-index: 10;
				right: 0;
				top: 0;
			}
		}

		&.friends,&.notifications{
			padding-right: 1.875em;
		}

		&.notifications:before{
			background: url(../images/icon_notification_white.png) no-repeat;
			height: 15px;
			width: 15px;
			position: absolute;
			content: "";
		}

		&.friends:before{
			background: url(../images/firends_24.png) no-repeat;
			height: 15px;
			width: 15px;
			position: absolute;
			content: "";
		}

		& span.counter{
			background: $bgAccentColor;
			padding: 0.313em;
			display: inline-block;
			content: "";
			font-size: 0.625em;
			color: white;
			position: absolute;
			z-index: 10;
			right: 0;
			top: 0;
		}
	}

	& .container-fluid{
		float: left;
	}

	& .nav-collapse{
		float: right;
		color: $bgAccentColor;
		padding-right: 1.250em;
	}

	& a.username{
		padding: 0.625em 1em;
		border-left: $standardBorder;

		& span{
			margin-top: 0.313em;
			display: inline-block;

			&.image{
				width: 1.5em;
				overflow: hidden;
				margin-right: 0.625em;
				margin-top: 0;
			}
		}

		img{
			height: 1.5em;
		}
	}

	.headerSocial{
		float: right;
		display: block;

		& li{
			padding: 0.625em 0 0 0.625em;
			display: inline-block;
		}
	}*/
}

#mobile-login{
	float: right;
	display: none;
	font-size: 0.85em;
	margin: 0.6em 0.5em 0 0;
}

#header_login{
	position: fixed;
	left: 50%;
	top: 3em;
	z-index: 98;
	text-transform: uppercase;
	background: white;
	z-index: -1;
	padding: 1.5em 1em 1em 1em;
	width: 20rem;
	margin-left: -10rem;
	text-align: center;
	font-weight: bold;
	display: none;

	@include respond-to(bp1150, max-width){
		bottom: 2.5em;
		top: auto !important;
		padding: 1em 1em 1em 1em;
	}

	a{
		position: relative;
		margin: 0 1em;
		color: $bgColor;
		font-size: 1em;

		i{
			display: inline-block;
			vertical-align: middle;
			font-size: 1.2em;
			margin: 0em 0.8em 0 0;
		}

		span{
			display: none;

			@include respond-to(bp500){
				display: inline;
			}
		}
	}
}

.home-header{
	margin: 0 0 0 11.250em;
	padding: 0 0 0.625em 0;
	position: relative;

	& h2{
		font-family: $siteAccentFont;
		font-size: 1.250em;
		color: white;
		display: inline-block;
		background: none;
	}

	a.clear{
		position: absolute;
		right: inherit;
		top: inherit;
		margin: 0.5em 0 0 -1em;
		cursor: pointer
	}
}

/* ============================================================ */
