/* GLOBAL OVERRIDE ============================================ */

.arial{
	font-family: $siteFont !important; 
	font-size: 0.75em !important; 
	font-style: normal !important;
}

.darkgrey{
	color: #808080 !important
}

.noheight{
	height: 0px !important; 
	overflow: hidden !important; 
	min-height: 0px !important; 
	padding: 0 !important
}

.floater{
	position: fixed !important;
	top: 2.313em !important;
	z-index: 999 !important; 
	margin: 0 !important;
}

.no-padding{
	padding: 0 !important
}

/* ============================================================ */