.comments-main{
	width: 100%;
	position: relative;
	padding: 1em;

	figure{
		width: 3em;
		height: 3em;
		overflow: hidden;
		position: absolute;
		top: 0.5em;
		left: 0;
		@include border-radius(1.5em);

		img{
			width: 100%;
		}
	}

	.icon-dot{
		vertical-align: text-bottom;
	}

	.post-comment-container{
		position: relative;
		margin: 0 0 1.5em 0;
		padding: 0 1em 0 4em;

		textarea{
			width: 100%;
			border: $standardBorder;
			background: none;
			display: block;
			width: 100%;
			background: none;
			height: 4em;
			padding: 0.5em;
			color: $siteColor;	
			background: $bgColor;

			&:focus {	
				outline: 0;
			} 
		}

		.comments-textarea-container{
			background: $bgOtherColor;
			padding: 0 0 1.6em 0;
			position: relative;

			button{
				position: absolute;
				bottom: 0;
				right: 0;
				background: $bgAccentColor;
				color: $bgColor;
				font-weight: bold;
				font-size: 0.75em;
			}
		}
	}

	.comments-display-all{
		margin: 1em auto 2em auto;
		display: block;
		font-size: 0.65em;
		display: none;
	}

	.comments-list{
		.comment-item{
			position: relative;
			padding: 0 1em 0 4em;
			margin: 0 0 1em 0;

			.icon-flag{
				display: block;
				right: 1em;
				top: 0.5em;
				position: absolute;
				color: $siteFontColor;
				font-size: 0.65em;
				@include opacity(0.6);

				&:hover{
					color: $bgAccentColor;
				}
			}

			header{
				font-size: 0.75em;
				font-weight: bold;
				margin: 0 0 0.5em 0;
				padding: 0;
				color: $siteFontColor;

				.timeago{
					font-size: 0.73em;
				}

				a{
					color: $bgAccentColor;
				}
			}

			.comment-content{
				font-size: 0.75em;
				line-height: 1.2em;

				p{
					margin: 0 0 1em 0;
				}
			}

			.comment-dub{
				color: $siteFontColor;
				font-weight: bold;

				.comment-dubs-total{
					font-size: 0.8em;
					line-height: 1.4em;
					margin: 0 0.5em 0 0;
					display: inline-block;
					vertical-align: text-top;
				}

				.icon-arrow-up,
				.icon-arrow-down{
					cursor: pointer;
					vertical-align: text-top;
					padding: 0 0.5em;

					&:hover,
					&.dubvoted{
						color: $bgAccentColor;
					}
				}

				a.delete{
					color: $siteFontColor;
					margin-left: 1.5em;
					font-size: 0.75em;

					&:hover{
						color: $bgAccentColor;
					}
				}
			}
		}
	}
}