/* @font-face mixin */
font-face( name, font-src, weight = false, style = false, formats = eot woff truetype svg, svg-font-name = false )
	@font-face
		font-family: name
		if weight
			font-weight: weight
		if style
			font-style: style
		fonts = ()
		if eot in formats
			src: url( font-src + ".eot" )
			push( fonts, 'url("' + font-src + '.eot?#iefix") format("embedded-opentype")' )
		if woff2 in formats
			push( fonts, 'url("' + font-src + '.woff2") format("woff2")' )
		if woff in formats
			push( fonts, 'url("' + font-src + '.woff") format("woff")' )
		if opentype in formats || otf in formats
			push( fonts, 'url("' + font-src + '.otf") format("opentype")' )
		if truetype in formats || ttf in formats
			push( fonts, 'url("' + font-src + '.ttf") format("truetype")' )
		if svg in formats
			svg-name = svg-font-name ? svg-font-name : name
			push( fonts, 'url("' + font-src + '.svg#' + svg-name + '") format("svg")' )
		src: unquote( join( ", ", fonts ) )

clearfix()
	zoom 1
	&:after
	&:before
		content ""
		display table
	&:after
		clear both

user-roles()
	&.dj
	&.resident-dj
	&.vip
	&.mod
	&.manager
	&.co-owner
	&.creator
	&.admin
		.user-role
			display inline-block

	&.creator
		.user-role
		.username
			color $creator-color

		if $creator-icon is defined and $creator-icon
			span.user-role-icon
				display inline-block
				background-image $creator-icon

	&.co-owner
		.user-role
		.username
			color $co-owner-color

		if $co-owner-icon is defined and $co-owner-icon
			span.user-role-icon
				display inline-block
				background-image $co-owner-icon

	&.manager
		.user-role
		.username
			color $manager-color

		if $manager-icon is defined and $manager-icon
			span.user-role-icon
				display inline-block
				background-image $manager-icon

	&.mod
		.user-role
		.username
			color $mod-color

		if $mod-icon is defined and $mod-icon
			span.user-role-icon
				display inline-block
				background-image $mod-icon

	&.vip
		.user-role
		.username
			color $vip-color

		if $vip-icon is defined and $vip-icon
			span.user-role-icon
				display inline-block
				background-image $vip-icon

	&.resident-dj
		.user-role
		.username
			color $resident-dj-color

		if $resident-dj-icon is defined and $resident-dj-icon
			span.user-role-icon
				display inline-block
				background-image $resident-dj-icon

	&.dj
		.user-role
		.username
			color $dj-color

		if $dj-icon is defined
			span.user-role-icon
				display inline-block
				background-image $dj-icon

	&.admin
		.user-role
		.username
			color $admin-color

		if $admin-icon is defined and $admin-icon
			span.user-role-icon
				display inline-block
				background-image $admin-icon

	&.currentDJ
		.username
			&:before
				content "DJ "
				color $current-dj-color

	/* Because Pikachu */
	&.user-55ffae6a1564a403003f5132
	&.userid-55ffae6a1564a403003f5132
			.user-role
			.username
				color #caca00
