// Fonts
$base-font-stack                 = proxima-nova, sans-serif

// Typography
$base-font-size                  = 1rem
$base-line-height                = 1.5
$header-line-height              = 1.2

// Colors
$white                           = #fff
$light-gray                      = #444444
$gray                            = #D3D3D3
$dark-gray                       = #545655
$darker-gray                     = #333
$primary-color                   = $white
$accent-color                    = #00FFFF
$accent-other-color              = #FF00FF
$meta-color                      = #878C8E

// Backgrounds
$background-primary-color        = #3D3D3D
$background-meta-color           = #F1F1F1
$background-dark-color           = #1C1C1C

// Icons
$base-icon-font-size             = 1.5rem

// Colors
$controls-spacing                = 1.875rem
$controls-items-spacing          = 1.75rem
$controls-buffering              = #404040
$controls-progress               = #202020

// Transition times
$base-transition-time            = 300ms
$fast-transition-time            = 100ms
