#results_video_api {
	padding: 0;
	position: relative;

	a.tt-wrapper {
		& i{
			font-style: italic;
			text-transform: none;
		}
		& span {
			left:inherit !important;
			right:10px !important;
			z-index:999;
			padding: 5px;
			text-transform: none;
			top: 70px !important;
		}
		&:hover {
			& span {
				top: 30px !important;
				&:after{
					margin-left: 20px;
				}
			}
		}
		&.playlist_type,&.upload_btn,&.shuffle-playlist {
			float: right;
			color: $siteColor;
			text-transform: uppercase;
			display: inline-block;
			vertical-align: middle;
			font-weight: bold;
			font-size: 0.85em;
			padding:0.2em 1em;
			border: $standardBorder;
			margin-top: 0.1em;
			min-width: auto;
			display: none;

			@include respond-to(bp1150){
				display: block;
			}

			&.playlist_type_private {
				border:#800000 1px solid;
				color:#fff;
				background:#bf0000;
			}
		}

		&.shuffle-playlist{
			margin-left: 0.5rem;
		}
	 }

	.playlist_info {
		padding:0.4em 1em;
		background: $bgColor;
		top:0;

		.playlist_filter {
			font-size: 0.75em;
			font-style: italic;
			padding: 0.2em 0.5em;
			width: 20em;
			height: auto;
			margin-bottom: 0.5em;
			margin-top: 0.2em;
			@include border-radius(0);
			background: none;
			color: $siteColor;
			border: $standardBorder;
		}
	}
}
