button.create{
	float: right;
	margin-right: 50px;
	font-size: 12px;
}
#room_info{	
	vertical-align:top;
	& a{
		&.right{
			margin:10px 10px 0 0;
		}
		&.lobby{
			color:#fff; 
			font-size:21px;
			&:hover{
				color:#fff;
			}
		}
	}
	& span{
		color:#00FFFF; 
		font-size: 0.85em; 
		display:block;
		font-family: $siteAccentFont;

		&.no-style{
			font:inherit; 
			font-size:inherit; 
			display:inline; 
			color:inherit; 
			cursor:pointer;
		}
		&.full{
			display:block; 
			width:284px; 
			overflow:hidden; 
			height:29px; 
		}
	}
	& div.lobby{
		float:right; 
		width:auto; 
		text-align:right
	}
	& .lobby{
		& a{
			display:inline-block; 
			margin:0 0 0 7px; 
			vertical-align:top !important;
		}
		& img{
			vertical-align:middle
		}
	}
	& .full{
		display:block; 
		margin: 0 0 0 0;
		color:#fff;
	}
	& .info{
		font-size:24px; 
		display:inline-block;
	}
	& .djinfo{
		line-height:20px; 
		margin:10px 0 30px 0
	}
	& .view_queue{
		display:none;
		position:absolute;
		top:inherit;
		left:inherit;
		margin:53px 0 0 5px;
		& a{
			background:#222;
			color:#f7f7f7;
			font-family: $siteTitleFont !important;
			padding:5px 10px;
		}
	}
	& .volume{
		display:inline-block; 
		margin:5px 0 0 0;
		& a{
			&.full{
				background:url(../images/volume_icon_slider.png) no-repeat 0 center; 
				width:21px; 
				height:15px; 
				display:inline-block; 
				margin:0 0 0 20px; 
				cursor:pointer;
			}	
			&.half{
				background-image:url(../images/icon-low-volume-1.png)
			}
			&.mute{
				background-image:url(../images/icon-mute-1.png)
			}
		}
	}
	& ul{
		&.icons{
			display:inline-block; 
			width:170px; 
			margin:0px 0 0 0; 
			vertical-align:top; 
			& li{
				padding:5px 0 0 25px; 
				display:inline-block; 
				background:no-repeat 0 center; 
				cursor:pointer;
				&.infoicon{
					background-image:url('../images/icon-info.png')
				}
				&.users{
					background-image:url('../images/icon-users.png')
				}
				&.history{
					background-image:url('../images/icon_history.png'); 
					margin:0 0 5px 0;
				}
				&.playlists{
					background-image:url('../images/icon_playlists.png'); 
					padding-top:5px;
					margin-left:5px;
				}
				&.browser{
					width:160px; 
					font-size:20px;
					color:#fff; 
					background:url(../images/icon_addsongstoplaylist.png) no-repeat 0 center; 
					height:30px; 
					padding:10px 0 0 35px;
				}
			}
		}
		&.voting{
			position:absolute; 
			bottom:50px; 
			right:45px; 
			font-family: $siteFont; 
			font-size:30px; 
			font-weight:bold; 
			width:79px; 
			text-align:center;
			& li{
				display:block;
				& span{
					&.grey{
						display:inline; 
						color:#ccc
					}
				}
				&.middle-border{
					line-height:49px; 
					@include border-radius(0.625em);
					zoom: 1; 
					border:3px solid #fff; 
					height:40px; 
					width:73px; 
					padding:0 0 5px 0; 
					color:#fff; 
					@include box-shadow(0px 0px 0.625em 0px rgba(0, 0, 0, 0.7));
					font-size:48px;
					font-family: $fontStack; 
				}
				&.up{
					background:url(../images/upvote_unpress.png) no-repeat center top;
					&:hover{
						background-image:url(../images/upvote_hover.png); 
						color:cyan;
					}
					& span{
						display:none;
					}
				}
				&.down{
					background:url(../images/downvote_unpress.png) no-repeat center bottom; 
					padding:6px 0 0 0; 
					height:48px;
					&:hover{
						background-image:url(../images/downvote_hover.png); 
						color:magenta;
					}
					& span{
						display:none;
					}
				}
				&.up.voted{
					background-image:url(../images/upvote_onpress.png); 
					color:#000;
				}
				&.down.voted{
					background-image:url(../images/downvote_onpress.png); 
					color:#000;
				}
			}
		}
	}
	& .v-icon{
		font-size:16px; 
		height:44px; 
		width:73px; 
		padding:10px 0 0 0; 
		cursor:pointer; 
		margin:0 auto; 
		color:#ccc
	}
	& .browser-div{ 
		margin:0px 0 0 -5px; 
		font-size:30px; 
		color:#fff; 
		background:url(../images/play_button.png) no-repeat 0 0; 
		height:39px;
		padding:10px 0 0 30px;
		cursor:pointer;
		&:hover{
			color:magenta; 
			background-image:url(../images/favorite_button_hover.png);
			& a{
				color:magenta;
			}
		}
		& a{
			color: #fff;
		}
		& p{
			display:inline-block; 
			padding:10px 0 0 0;
		}
	}
	& .add_to_fav{
		margin:0px 0 0 -5px;
		cursor:pointer;
		background:url(../images/favorite_button.png) no-repeat 0 0; 
		height:30px;
		padding:10px 0 0 30px;
		&:hover{
			color:magenta; 
			background-image:url(../images/play_button_hover.png);
			& a{
				color:magenta;
			}
		}
		& a{
			color:#fff;
		}
	}
	& .next_song_panel{
		& span{
			display:inline; 
			font-size:18px
		}
	}
	& .time{
		display:inline-block; 
		text-align:right; 
		font-size:34px; 
		color:#fff; 
		max-width:100px; 
		overflow:hidden;
		& span{
			font-size:12px; 
			margin:0 0 0 0;
			&.no-style{
				font:inherit; 
				font-size:inherit; 
				display:inline; 
				color:inherit;
			}
		}	
	}
}

#roomInfoMainBox{
	position: absolute;
	width: 400px;
	top:-400px;
	max-height: 420px;
	overflow: hidden;
	left: 157px;
	padding: 20px;
	@include transition-property(all);
  	@include transition-duration(0.3s);
  	@include transition-timing-function(ease-in);
	font-size: 0.85em;
	z-index: 999;
	& #roomInfoBox{
		position: relative;
		padding: 20px 20px 20px 20px;
		background: #101010;
	}
	&.active{
		height: auto;
		top:24px;
	}
	& b{
		display: block;
		margin: 15px 0 5px 0;
	}
	& a.edit{
		float: right;
		position: absolute;
		bottom: 5px;
		right: 20px;
	}
	& a.close{
		position: absolute;
		top:20px;
		right: 5px;
		font-size: 10px; 
		color: #fff;
		text-shadow: none;
	}
}

#song-info-title{
	min-width:284px !important; 
	position:relative;
	display:block; 
	width:284px; 
	overflow:hidden; 
	height:29px;
	& span{
		font-size:24px !important; 
		color:#fff !important; 
		font-family: $fontStack !important; 
		width:auto; 
		overflow:visible !important;
	} 
}

#dj-name{
	color:#fff !important; 
	font-size:18px !important; 
	width:90px; 
	overflow:hidden
}