/* ROOM LIST ================================================== */

#container-room-list{
	padding:1em 0 3em 0;
	max-width: 78em;
	margin: 0 auto;
	@include clearfix2();
	/*border-top:2px solid #5a5e65;
	border-bottom:2px solid #5a5e65; */

	.room-item{
		position: relative;
		padding: 0;
		background: $bgColor;
		cursor: pointer;
		width: 100%;
		border-bottom: 1px #333 solid;
		margin-bottom: 0.3em;

		@include respond-to(bp600){
			@include border-radius(0.625em);
			width: 17.5em;
			float: left;
			margin: 1em;
			border-bottom: 0;
			margin-bottom: 0;
		}

		&.active-room,
		&.userRoom{
			@include respond-to(bp600){
				outline: 1px solid $bgAccentColor;
			}
		}

		@include respond-to(bp600){
			&:hover{
				a.join{
					display: block;
				}
			}
		}

		a{
			&.join{
				display: none;
				font-family: $siteFont;  
				font-size: 1.5em; 
				color: white; 
				padding: 1.5em 0; 
				position: absolute; 
				left: 0;
				width: 100%;
				top: 3em;
				margin: 0;
				text-align: center;
				z-index: 9;
				display: none;

				& span{
					display: block;
					position: relative;
					z-index: 20;
					color: #fff;
					line-height: 1em;

					&:after{
						display: inline-block;
						vertical-align: middle;
						margin: 0 0 0 0.8em;
						font-size: 0.8em;
						@include ico-style();
						content: "\e600";
					}
				}

				&:before{
					width: 100%;
					background: #000;
					height: 100%;
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					z-index: 8;
					background: $bgColor;
					@include opacity(0.6);
				}
			}
		}

		.roomImage{
			overflow: hidden;
			min-height: 10.375em;
			@include border-top-left-radius(0.625em);
			@include border-top-right-radius(0.625em);
			display: none;

			@include respond-to(bp600){
				display: block;
			}

			img{
				width: 100%;
			}
		}

		.description{
			margin: 0;
			padding: 1em 3em 1em 1em;
			font-weight: bold;

			@include respond-to(bp600){
				margin: 1em 0;
				padding: 0 1em;
				font-weight: normal;
			}

			span{
				display: block;
				line-height: 1.4em;

				&.current-song{
					font-size: 0.75em;
					color: $siteFontColor;
					font-style: italic;
					overflow: hidden;
					white-space: nowrap;
				}
			}
		}

		.user-count{
			position: absolute;
			padding: 0.5em;
			right: 0;
			top: 1.3em;
			font-size: 1.5em;
			font-weight: bold;
			margin: -1em 0.5em 0 0;
			//@include border-top-left-radius(0.625em);

			@include respond-to(bp600){
				top: 0;
				right: auto;
				left: 0;
				margin: 0;
				background: $bgAccentColor;
				color: $bgColor;
				font-size: 1em;
				font-weight: normal;
			}
		}

		.user-info{
			display: none;
			bottom: 1em; 
			padding: 0.3em 1em;
			right: 1em; 
			line-height: 1em;
			font-size: 0.8em;
			background: $siteAccentColor;
			border-top: 1px #333 solid;
			@include clearfix2();

			@include respond-to(bp600){
				padding: 1em;
				@include opacity(0.7);
				@include border-bottom-left-radius(0.625em);
				@include border-bottom-right-radius(0.625em);
			}

			figure{
				margin: 0 1.2em 0 0;
				float: left;
				width: 2.5em;
				height: 2.5em;
				overflow: hidden;
				@include border-radius(2.5em);

				@include respond-to(bp600){
					margin: 0 0.7em 0 0;
				}

				img{
					width: 100%;
				}
			}

			.room-user{
				margin: 0.7em 0 0 0;
				float: left;
				max-width: 16em;
				overflow: hidden;
				white-space: nowrap;

				a{
					color: white;
					font-weight: bold;
				}
			}
		}
	}
}

#rooms-list{
	padding:0 20px;
	width:100%; 
	margin:0 0 20px 0; 
	height:660px; 
	min-height:660px;
	& li{
		font-family: $siteAccentFont;
		width:280px; 
		padding:0 0 30px 0; 
		line-height:20px;  
		position:relative; 
		cursor:pointer; 
		background:url(../images/blackopacity_roomlist.png) repeat;
		@include border-radius(0.625em);
		margin:5px 10px 5px 0;
		float: left;
		&:nth-child(even){
			
		}
		&:nth-child(odd){
			& .corner{
				/*background:url(../images/bg_corner.png) no-repeat; 
				width:24px; 
				height:24px; 
				position:absolute; 
				top:0; 
				left:0*/
			}
		}
		&:hover{
			& .join{
				display:block;
			}
			& .friends, .hosted{
				/*display:none;*/
			}
		}
		&.activeRoom{
			outline: 1px solid magenta;
		}
		& .image{
			margin-bottom: 10px;
			& img{
				width: 280px;
				height: 166px;
			}
		}
		& .list{
			color:#000;
			background: cyan; 
			display:block;  
			text-align:right; 
			padding:5px 7px;
			position:absolute;
			z-index: 10;
			top:0;
			left: 0;
			& span{
				display:block; 
				font-size:12px; 
				color:#000;
			}
		}
		& .description{
			display:inline-block;
			margin:0 0 0 20px;
			vertical-align:top;
			text-align:left;
			& .name{
				font-size:18px; 
				color:#fff; 
				display:block;
			}
			& .slash{
				display:inline; 
				color:#797979;
			}
			& .song_dis{
				width: 100%;
				display:block; 
				overflow:hidden; 
				height:20px; 
				font-size:14px; 
				color:#505050
			}
		}
		& .hosted{
			z-index:8; 
			bottom: 5px; 
			right:5px; 
			@include opacity(0.7);
			position:absolute; 
			line-height:14px;
			& b{
				color: #fff;
			}
			& span{
				display:inline-block; 
				vertical-align:top; 
				font-style:normal !important; 
				color:#fff;
			}
		}
		& .friends{
			position:absolute; 
			bottom:5px; 
			right:5px; 
			color:#fff; 
			font-size:14px;
			& span{
				display:inline-block;
				margin-left:10px;
			}
		}
		& .join{
			display: none;
			font-family: $siteFont;  
			font-size:24px; 
			color:#fff; 
			padding:25px 0; 
			position:absolute; 
			left: 0;
			width: 100%;
			top:62px;
			margin: 0 -200px 0 0; 
			z-index:9;
			& span{
				position: relative;
				z-index: 20;
				color: #fff;	
				margin-left: 95px;
			}
			&:after{
				background:url(../images/button_joinroom_arrow.png) right center no-repeat; 
				right: 70px;
				top: 22px;
				content: "";
				width: 17px;
				height: 26px; 
				position: absolute;
				z-index: 10;
			}
			&:before{
				width: 100%;
				background: #000;
				height: 100%;
				@include opacity(0.6);
				content: "";
				position: absolute;
				top:0;
				left: 0;
				z-index: 8;
			}
			
		}
		&.by_user{
			border:2px solid #999;
		}
	}
	& .mCSB_scrollTools{
		margin:0 0px 0 0;
	}
}
/* ============================================================ */